<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Page</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
<body>
    <div>
        <h1>Registration Form</h1>
<form action="registration.html" method="post">

    <input type="text" placeholder="Enter name"><br>
    <input type="email" placeholder="Enter Email"><br>
    <input type="text" placeholder="Enter Mobile"><br>
    <input type="text" placeholder="Enter City"><br>
    <input type="text" placeholder="Enter State"><br>
    <input type="text" placeholder="Enter Country"><br>
    <input type="submit" style="margin-left: 7%">
</form>
</div>
</body>


</html>